.Contador {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Contador input {
    width: 50px;
    margin: 10px auto;
}

.Contador button {
    width: 50px;
    height: 50px;
    background-color: #0084ff;
    color: white;
    border: 0;
    border-radius: 50%;
    margin: 15px;
}

.Contador .buttons {
    margin: 0 auto;
}